<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <% include ./partials/head.ejs %>

    </head>
    <body class="welcome">
      <div class="main">
        <div class="mainsizing">
          <h1 class="space">
            <% if (currentUser) { %>
              Welcome <%= currentUser.username %>!
              <% } else { %>
                Space Ghost
            <% } %>
          </h1>
    </div>
      <h6 class="coast">GA Coast to Coast</h6>
      <nav>
          <ul>
              <li class="weltext"><a class="weltext" href="/sessions/new">Log In</a></li>
              <li class="weltext"><a class="weltext" href="/users/new">Register</a></li>
              <% if (currentUser) { %>
                <main>
                  Welcome to <a href='/app'>SPACE GHOST FACES</a>
                </main>
                <li>
                <form action='/sessions?_method=DELETE' method='POST'>
                  <input type="submit" value="Logout"/>
                </form>
                </li>
              <% } %>
          </ul>
      </nav>
    </div>
    </body>
</html>
