@import url('https://fonts.googleapis.com/css?family=Architects+Daughter|Caveat|Kalam|Kaushan+Script|Sorts+Mill+Goudy|Yellowtail');
@import url('https://fonts.googleapis.com/css?family=Dosis');
/*************general on all pages**********/
body {
  background-color: #212432;
  color: #b3c2bf;
}

/*****************header on all pages********/
.nav{
  background-color: black;
}
.icon:hover{
width: 100px;
}
.heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.border{
  border: 1px solid black;
  background-color: #FFB90D;
  color: #2f2f42;
}

/*************Main page fonts*************/
.space{
font-family: 'Caveat', cursive;
font-size: 700%;
color: black;
}

.coast{
  font-family: 'Kalam', cursive;
  font-size: 200%;
  margin-left: 20%;
  font-style: bold;
  color:black;
}
.mainsizing{
  margin-top: 20%;
  margin-left: 15%;
}
.weltext{
 color:black;
 text-decoration:none;
 list-style-type: none;
 font-size: 20px;
 margin-left: 15%;
 font-family: 'Sorts Mill Goudy', serif;
}
.weltext:hover{
 color:white;
}

.welcome{
background-image: url(../images/space-ghost-background-wallpaper-yellow-modern-simple-wallpapers.jpg);
background-size:cover;
background-repeat: no-repeat;
}



/***********Show page with all accounts***********/
.smallify{
    border: 1px solid white;
    display: block;
    max-width:250px;
    max-height:250px;
    /*min-width:250px;
    min-height:250px;*/
    width: auto;
    height: auto;
    margin-top:20px;
    margin-left: 100px;
    box-shadow: 5px 10px 18px #888888;
}
.josefinasIdea{
  background-color:white;
  max-height:250px;
  max-width: 250px;
}

/************* login page*******************/
.loginpage{
  font-family: 'Kalam', cursive;
  margin-left: 20%;
}

.form-style-6{
    max-width: 400px;
    margin: 20% auto;
    padding: 16px;
    background: #F7F7F7;
    border: 2px solid black;
}
/*.btn-outline-danger,*/
 .new{
  margin-top: 2%;
  margin-left: 38%;
}

/*************Register page****************/
.registerpage{
  font-family: 'Kalam', cursive;
  margin-left: 10%;
}
.form-style-6{
    max-width: 400px;
    margin: 20% auto;
    padding: 16px;
    background: #F7F7F7;
}
/*.btn-outline-danger,*/
 .register{
  margin-top: 2%;
  margin-left: 33%;
}

/******************Edit Page**********/
.editpage{
  font-family: 'Kalam', cursive;
  margin-left: 20%;
}
.form-style-6edit{
    max-width: 400px;
    margin: 10% auto;
    padding: 16px;
    background: #F7F7F7;
    display:block;
}
/*.btn-outline-danger*/
.editform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.editform > input{
margin: 2px ;
}

#buttoncontainer{
  /*border: 1px solid green;*/
  margin-top: 2%;
  margin:auto;
  /*justify-content: center;*/
  width: 40%;
}
.editsubmit{
  margin:2px auto;
}
.editno{
  margin:2px;
  margin-left: 14%;
}

/******************Profile Page******************/
.profilebtns{
  display:flex;
  font-family: 'Sorts Mill Goudy', serif;

}

.deletebtn{
margin-left: 1087%;
}

img.profilephoto{
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
      height: 500px;
      box-shadow: 5px 10px 18px #888888;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
}

h3 {
  text-align: center;
  margin-top: 25px;
}
.paragraph{
  /*border: 3px solid  #020369;*/
  margin: 10px 250px;
  font-size: 20px;
  font-family: 'Dosis', sans-serif;
}

.who{
  margin-left: 7%;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), red, rgba(0, 0, 0, 0));
    /*background-color: #729f98;*/
}

.profilestatus{
  text-align: center;
}
