<!DOCTYPE html>
<html>
  <head>

    <title></title>
<% include ../partials/head.ejs %>

  </head>
  <body>
<% include ../partials/header.ejs %>

  <h3></h3>
    <div class="row">
    <% for (let Profile of allProfiles) { %>

      <div class="col-xs-6 col-md-3">
            <a class="thumbnail " href= '/sessions/profile/<%= Profile._id %>'><div class="josefinasIdea"><img class="smallify" src="<%= Profile.img %>" ></div></a>
            <div class="mainname"><%= Profile.name %></div>
              <h4 class="profilestatus">Whats on my mind?:  <%=Profile.status %></h4>
      </div>
    <% } %>
  </div>
  </body>
</html>
