<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include ../partials/head.ejs %>

  </head>
  <body>

    <h1>Come on In</h1>

    <form  action='/sessions/login' method="POST">
      <input type='text' name='username' placeholder="username"/>
      <input type='password' name='password'  placeholder="password"/>
      <input class="btn-outline-danger" type='submit' value='Log In' />
    </form>
  </body>
</html>
