<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>YOUR PROFILE</title>
  </head>
  <body>
    <h1>Welcome to space ghost faces</h1>
      <% console.log("who is this??", foundId); %>

    <form action='/sessions?_method=DELETE' method='POST'>
      <input type="submit" value="Logout"/>
    </form>
    </form>
  </body>
</html>
